*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: url(vegitable223.webp);
    background-position: absolute;
    background-size:cover;
    position: absolute;
}
.form-box{
    opacity: 0.9;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6%auto;
    background: white;
    padding: 5px;
    overflow:hidden;
}
.button-box{
    opacity:0.9;
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-origin: padding-box;
    box-shadow: 0px 0px 20px #ff61241f;
    border-radius:30px;
}
.toggle-btn {
    opacity:0.9;
    padding: 10px 30px 10px 30px ;
    cursor: pointer;
    background:transparent;
    border: none;
    position: relative; 
}
#btn{
    opacity:0.9;
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:green;
    border-radius:30px;
    transition: .5s;
}
.input-group{
    opacity:0.9;
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    opacity:0.9;
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px  solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    opacity:0.9;
    width:100%;
    padding: 10px 30px;
    cursor: pointer;
    display:block;
    margin: auto;
    background:green;
    border: 0;
    outline:none;
    border-radius:30px;
}
.checkbox{
    opacity:4;
   margin:30px 10px 30px 0;
}
span{
    opacity:0.9;
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#Register{
    left: 450px;
}

ul{
    background-color: #3d3d3d;
    background-color: #999;
    text-align: center;
    padding: 22px;
}