.order-container
{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ordered-items
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
}
.box-title{
    
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    text-align: center;
    margin: 20px;
    width: fit-content;
    padding: 20px;
    color: black;
    font-size: 4dvb;
    box-shadow: 2px 4px #504d4d;
}
.box-content{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    height: 80%;
    
}
.order-number
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}
.box-content2{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    height: 80%;
    margin: 25px;
    padding: 8dvb;
    
}
h1{
    font-size: 3dvb;
    text-transform: capitalize;
    color: #000;
    padding-left: 5%;
    padding-right: 5%;
}